@model IEnumerable<MVCCore.MongoDB.Models.Album>

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-3 text-center">Listado de Albumes</h1>


<a class="btn btn-success mb-3" asp-action="Create"><i class="fa-solid fa-plus"></i></a>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Album</th>
            <th>Nombre del Artista</th>
            <th>Fecha de Creacion</th>
            <th>Duracion</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AlbumName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning w-25" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square text-light"></i></a>
                <a asp-action="Details" class="btn btn-primary w-25" asp-route-id="@item.Id"><i class="fa-solid fa-info"></i></a>
                <a asp-action="Delete" class="btn btn-danger w-25" asp-route-id="@item.Id"><i class="fa-solid fa-trash-can"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
